@tailwind base;
@tailwind components;
@tailwind utilities;

input,
select,
.input {
  @apply rounded-lg py-2 px-3 w-full text-base;
}

input:focus,
select:focus {
  outline: none;
}

.btn {
  @apply text-base font-bold rounded-lg py-2 my-1 cursor-pointer disabled:opacity-50 disabled:cursor-not-allowed;
}

.btn-flex {
  @apply flex items-center justify-start px-4 py-3 text-base font-bold rounded-lg cursor-pointer;
}

.btn-primary {
  @apply bg-[#353535] hover:bg-[#353535bb] text-white;
}

.btn-dark {
  @apply bg-[#121212] hover:bg-[#121212bb] text-white;
}

.btn-dark.border,
.btn-primary.border {
  @apply border-[#82919E];
}

select option {
  @apply text-white;
}

select option:hover {
  background: red;
}

.search-box {
  @apply flex items-center rounded-lg;
}

.react-datepicker__day--selected {
  @apply !bg-[#1d1d1d] !text-white font-bold;
}

.react-datepicker__day--today,
.react-datepicker__day--keyboard-selected {
  @apply !bg-[#cccccc] !text-black;
}

.react-datepicker__header {
  @apply !bg-[#505050] border !border-[#5f5f5f];
}

.react-datepicker {
  @apply border !border-[#5f5f5f];
}

.react-datepicker__current-month,
.react-datepicker__day-name {
  @apply !text-white;
}

.react-datepicker-popper[data-placement^="top"] .react-datepicker__triangle {
  fill: #5f5f5f !important;
  color: #5f5f5f !important;
}

@layer utilities {

  /* Hide scrollbar for Chrome, Safari, and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge, and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .fixed.right-0.top-0 {
    top: env(safe-area-inset-bottom, 0px);
    right: env(safe-area-inset-right, 0px);
    padding: 20px;
    background-color: #fff;
  }
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}